* {
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #dfdfdf;
  margin: 3rem;

}
h1{
  color: #333333;
}
.container{
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn{
  display: inline-block;
  background: purple;
  color: #fff;
  border: none;
  border-color: purple;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover{
  background-color: rgb(34, 1, 34);
}
.btn:focus{
   outline: none;
}
.btn:active{
  transform: scale(0.98);
}
.btn-block{
  display: block;
  width: 100%;
}
.btn--alt{
  background-color: transparent;
  color: #800040;
}
.btn--alt:hover{
  background-color: #f8dae9;

}
.card {
  background-color: #f4f4f4;
  border-radius: 15px 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}
.actions{
  text-align: right;
}
.modal{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% -5rem);
}
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.task{
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.task.reminder{
  border-left: 5px solid green;
}
.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-form{
  margin-bottom: 40px;
}
.form-control label{
  display: block;
}
.form-control input{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control-check{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control-check label{
  flex: 1;
}
.form-control-check input{
  flex: 2;
  height: 20px;
}
.footer{
  margin-top: 30px;
  text-align: center;
}